* {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-size: calc(1em * 0.625);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 16px;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: rgb(67, 123, 12);
	margin: 0;
	text-align: center;
}

a {
	decoration: none;
}

/* DIV */

#marker {
	position: absolute;
	margin: auto;
	top: 48%;
	right: 0;
	bottom: auto;
	left: 0;
	height: 17%;
	width: auto;
	background-color: rgb(67, 123, 12);
	border-radius: 3px;
	visibility: hidden;
}

#alert {
	position: absolute;
	margin: auto;
	top: 37%;
	right: 0;
	bottom: auto;
	left: 0;
	height: 0px;
	width: auto;
	background-color: rgb(67, 123, 12);
	border-radius: 3px;
	visibility: hidden;
	max-width: 100%;
}

#loader {
	position: absolute;
	margin: auto;
	top: 37%;
	right: 0;
	bottom: auto;
	left: 0;
	height: 10%;
	width: auto;
	background-color: rgb(67, 123, 12);
	border-radius: 3px;
	visibility: hidden;
	max-width: 100%;
}

#submit {
	position: absolute;
	margin: auto;
	top: auto;
	right: 0;
	bottom: 10%;
	left: 0;
	width: auto;
	height: 17%;
	background-color: rgb(67, 123, 12);
	border-radius: 3px;
	visibility: hidden;
}

/* Feature */

#message {
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	border: none;
	border-radius: 10px;
	background:rgba(0,0,0, 0.1);
	color: white;
}

img {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: none;
}

/* Buttons */

.btn:hover {
	cursor: pointer;
}

#btn-copy {
	position: absolute;
    background-color: none;
	top: 15%;
	left: calc(50% - 5vh);
	visibility: hidden;
}

#btn-map {
	position: absolute;
    background-color: none;
	top: 20%;
	left: calc(30% - 5vh);
	visibility: hidden;
}

#btn-whatsapp {
	position: absolute;
    background-color: none;
	top: 20%;
	left: calc(70% - 5vh);
	visibility: hidden;
}

.btn-star {
    color: gold;
	font-size: 10vh;
	position: absolute;
    background-color: none;
    width: 10vh;
    height: 10%;
    z-index:0;
	margin-left: auto;
	margin-right: auto;
}

.btn-icon {
    color: black;
	font-size: 5vh;
    background-color: none;
    width: 10vh;
	top: 2.5vh;
    position: relative;
    z-index:1;
}
